@import "../../../utils/widthPicker"
@import "../../../utils/colorPalette"

.backgroundImage
  background: url("../../../data/images/publicationShowcase/papers.jpg")
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

.blogShowcaseCard
  display: none
  +screen(greaterThanExtraLarge)
    display: block

.link
  color: #01A18B
  font-family: Montserrat, sans-serif
  font-weight: 500
  margin-top: 20px
  &:hover
    color: #40a186

.buttonPadding
  padding-top: 15px